{% extends '_base.html' %}
{% block conteudo %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">Minha agenda</h1>
        <a class="d-flex flex-row-reverse" href="{% url 'criar_contato' %}"
        style="color:#5347ff;">Criar Contato<b>+</b></a>

        {% include 'parciais/_form.html' %}
        {% include 'parciais/_message.html' %}

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
          {% for contato in contatos  %}
              <tr>
                <td>
                  <a href="{% url 'detalhe_contato' contato.id %}"> {{contato.nome}}</a>
                </td>
                <td>{{contato.sobrenome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.categoria}}</td>
                <td><a href="{% url 'deletar_contato' contato.id %}" style="color:blue;">
                <i class="far fa-trash-alt"></i></a></td>
                <td><a href="{% url 'editar_contato' contato.id %}"><i class="far fa-edit" style="color:blue;"></i></a></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <nav aria-label="...">
      <ul class="pagination">
        {% comment %} Previous {% endcomment %}
        {% if contatos.number == 1 %}
          <li class="page-item disabled">
            <a class="page-link">Anterior</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="/?page={{ contatos.previous_page_number }}&termo=" tabindex="-1">Anterior</a>
          </li>        
        {% endif %}

        {% if contatos.number|add:'-2' > 1 %}
          <li><a class="page-link" href="?page=1">&hellip;</a></li>
        {% endif %}

        {% comment %} Pagination 1 ~ 3 {% endcomment %}
        {% for pagina in contatos.paginator.page_range %}

          {% if contatos.number == pagina %}
            <li class="page-item active">
              <a class="page-link" href="?page={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
            </li>
          {% elif pagina > contatos.number|add:'-3' and pagina < contatos.number|add:'2' %}
            <li class="page-item">
              <a class="page-link" href="?page={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
            </li>
          {% endif %}
        
        {% endfor %}

        {% comment %} Next {% endcomment %}
        {% if contatos.paginator.num_pages > contatos.number|add:'1' %}
          <li>
            <a class="page-link" href="?page={{ contatos.paginator.num_pages }}">&hellip;</a>
          </li>
        {% endif %}
        
        {% if contatos.number == contatos.paginator.num_pages %}
          <li class="page-item disabled">
            <a class="page-link">Proximo</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="/?page={{ contatos.next_page_number }}&termo=" tabindex="-1">Proximo</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock conteudo %}
